<link href="tabs.css" rel="stylesheet" type="text/css">

<div style="text-align: center">
	<img class="details-image" src="http://synography.com/wp-content/uploads/2018/01/ctrgbanner-03-1024x182.png" draggable="false" alt="" style="width: 75%; margin-top: 20px; margin-bottom: 15px;"><br>
	<!-- Set up the Tabs -->
	<input type="radio" class="sheet-tab sheet-tab1" name="attr_core-tab" value="1" title="Core Info" checked="checked"/> 
	<span class="sheet-tab sheet-tab1" style="line-height: 40px;">CORE INFO</span>
	
	<input type="radio" class="sheet-tab sheet-tab2" name="attr_core-tab" value="2" title="Abilities" /> 
	<span class="sheet-tab sheet-tab2" style="line-height: 40px;">ABILITIES</span>
	
	<input type="radio" class="sheet-tab sheet-tab3" name="attr_core-tab" value="3" title="Weapons" /> 
	<span class="sheet-tab sheet-tab3" style="line-height: 40px;">WEAPONS</span>
	
	<input type ="radio" class="sheet-tab sheet-tab4" name="attr_core-tab" value="4" title="Health" /> 
	<span class="sheet-tab sheet-tab4" style="line-height: 40px;">HEALTH</span>
	
	<input type="radio" class="sheet-tab sheet-tab5" name="attr_core-tab" value="5" title="Inventory" /> 
	<span class="sheet-tab sheet-tab5" style="line-height: 40px;">INVENTORY</span>
	
	<input type="radio" class="sheet-tab sheet-tab6" name="attr_core-tab" value="6" title="Other" /> 
	<span class="sheet-tab sheet-tab6" style="line-height: 40px;">CONFIG</span>
	
	<input type="radio" class="sheet-tab sheet-tab7" name="attr_core-tab" value="99" title="All" />
	<span class="sheet-tab sheet-tab7" style="line-height: 40px;">NOTES</span>
	<!-- End Tab setup -->
	
	<div class="sheet-section-core">
		<div>
		<h1>Skills &amp; Stats</h1>
		</div>
		
		1 Core tab
	</div>
	
	<div class="sheet-section-abilities"><!-- Edges Tab -->
		<!-- Stuff on the tab -->
		<h1>Abilities</h1>
			<input type="radio" class="sheet-tab-short sheet-ability1" name="attr_ability-tab" value="1" title="ability 1" checked="checked"/> 
			<span class="sheet-tab-short sheet-ability1" style='line-height: 40px;'>ABILITY 1</span>
	
			<input type="radio" class="sheet-tab-short sheet-ability2" name="attr_ability-tab" value="2" title="ability 2" /> 
			<span class="sheet-tab-short sheet-ability2" style='line-height: 40px;'>ABILITY 2</span>
			
			<input type="radio" class="sheet-tab-short sheet-ability3" name="attr_ability-tab" value="3" title="ability 3" /> 
			<span class="sheet-tab-short sheet-ability3" style='line-height: 40px;'>ABILITY 3</span>
			
			<input type="radio" class="sheet-tab-short sheet-ability4" name="attr_ability-tab" value="4" title="ability 4" /> 
			<span class="sheet-tab-short sheet-ability4" style='line-height: 40px;'>ABILITY 4</span>
			
			<input type="radio" class="sheet-tab-short sheet-ability5" name="attr_ability-tab" value="5" title="ability 5" /> 
			<span class="sheet-tab-short sheet-ability5" style='line-height: 40px;'>ABILITY 5</span>
			
			<input type="radio" class="sheet-tab-short sheet-ability6" name="attr_ability-tab" value="6" title="ability 6" /> 
			<span class="sheet-tab-short sheet-ability6" style='line-height: 40px;'>ABILITY 6</span>
			
			<input type="radio" class="sheet-tab-short sheet-ability7" name="attr_ability-tab" value="7" title="ability 7" checked="checked"/> 
			<span class="sheet-tab-short sheet-ability7" style='line-height: 40px;'>ABILITY 7</span>
			
			<input type="radio" class="sheet-tab-short sheet-ability8" name="attr_ability-tab" value="8" title="ability 8" /> 
			<span class="sheet-tab-short sheet-ability8" style='line-height: 40px;'>ABILITY 8</span>
			
			<input type="radio" class="sheet-tab-short sheet-ability9" name="attr_ability-tab" value="9" title="ability 9" /> 
			<span class="sheet-tab-short sheet-ability9" style='line-height: 40px;'>ABILITY 9</span>
			<br>
			<input type="radio" class="sheet-tab-short sheet-ability10" name="attr_ability-tab" value="10" title="ability 10" /> 
			<span class="sheet-tab-short sheet-ability10" style='line-height: 40px;'>ABILITY 10</span>
			
			<input type="radio" class="sheet-tab-short sheet-ability11" name="attr_ability-tab" value="11" title="ability 11" /> 
			<span class="sheet-tab-short sheet-ability11" style='line-height: 40px;'>ABILITY 11</span>
			
			<input type="radio" class="sheet-tab-short sheet-ability12" name="attr_ability-tab" value="12" title="ability 12" /> 
			<span class="sheet-tab-short sheet-ability12" style='line-height: 40px;'>ABILITY 12</span>
			
			<input type="radio" class="sheet-tab-short sheet-ability13" name="attr_ability-tab" value="13" title="ability 13" /> 
			<span class="sheet-tab-short sheet-ability13" style='line-height: 40px;'>ABILITY 13</span>
			
			<input type="radio" class="sheet-tab-short sheet-ability14" name="attr_ability-tab" value="14" title="ability 14" /> 
			<span class="sheet-tab-short sheet-ability14" style='line-height: 40px;'>ABILITY 14</span>
			
			<input type="radio" class="sheet-tab-short sheet-ability15" name="attr_ability-tab" value="15" title="ability 15" /> 
			<span class="sheet-tab-short sheet-ability15" style='line-height: 40px;'>ABILITY 15</span>
			
			<input type="radio" class="sheet-tab-short sheet-ability16" name="attr_ability-tab" value="16" title="ability 16" /> 
			<span class="sheet-tab-short sheet-ability16" style='line-height: 40px;'>ABILITY 16</span>
			
			<input type="radio" class="sheet-tab-short sheet-ability17" name="attr_ability-tab" value="17" title="ability 17" /> 
			<span class="sheet-tab-short sheet-ability17" style='line-height: 40px;'>ABILITY 17</span>
			
			<input type="radio" class="sheet-tab-short sheet-ability99" name="attr_ability-tab" value="99" title="All" />
			<span class="sheet-tab-short sheet-ability99" style='line-height: 40px;'>ALL (Debug only)</span>
		
			<div class="sheet-section-ability1">
			
			</div>
			<div class="sheet-section-ability2">

			</div>
			<div class="sheet-section-ability3">

			</div>
			<div class="sheet-section-ability4">

			</div>
			<div class="sheet-section-ability5">

			</div>
			<div class="sheet-section-ability6">

			</div>
			<div class="sheet-section-ability7">

			</div>
			<div class="sheet-section-ability8">

			</div>
			<div class="sheet-section-ability9">

			</div>
			<div class="sheet-section-ability10">

			</div>
			<div class="sheet-section-ability11">

			</div>
			<div class="sheet-section-ability12">

			</div>
			<div class="sheet-section-ability13">

			</div>
			<div class="sheet-section-ability14">

			</div>
			<div class="sheet-section-ability15">

			</div>
			<div class="sheet-section-ability16">

			</div>
			<div class="sheet-section-ability17">

			</div>
		2 Abilities tab - sheet-section-abilities
	</div>
	
	<div class="sheet-section-weapons"><!-- Skills Tab -->
		<!-- Stuff on the tab -->
		<h1>Weapons</h1>
	
	<input type="radio" class="sheet-tab sheet-weapon1" name="attr_weapon-tab" value="1" title="PRIMARY" checked="checked"/> 
	<span class="sheet-tab sheet-weapon1" style='line-height: 40px;'>PRIMARY</span>
	
	<input type="radio" class="sheet-tab sheet-weapon2" name="attr_weapon-tab" value="2" title="SECONDARY" /> 
	<span class="sheet-tab sheet-weapon2" style='line-height: 40px;'>SECONDARY</span>
	
	<input type="radio" class="sheet-tab sheet-weapon99" name="attr_weapon-tab" value="99" title="All" />
	<span class="sheet-tab sheet-weapon99" style='line-height: 40px;'>Both (Debug)</span>

	<table width="500" border="1" style="margin:1em auto; table-layout: fixed">
    	<tr>
    	  <th scope="col" width="80px">Skill&nbsp;</th>
    	  <th scope="col" width="120px">Weapon Name&nbsp;</th>
    	  <th scope="col" width="40px">Mod&nbsp;</th>
    	  <th scope="col" width="50px">Mag Size&nbsp;</th>
    	  <th scope="col" width="50px">Mag Cur.&nbsp;</th>
    	  <th scope="col" width="80px">Calliber&nbsp;</th>
    	  <th scope="col" width="40px">lbs</th>
    	  <th scope="col" width="34px">Sup.</th>
    	  <th scope="col" width="34px">Auto</th>
    	  <th scope="col" width="140px">Notes&nbsp;</th>
    	</tr>
	</table>
	<div class="sheet-section-primary">
		<table width="500" border="1" style="margin:1em auto; table-layout: fixed">
			
			<tr>
				<th scope="col" width="80px">
					<select class="gun-select" name="attr_pri_type" style="width: 70px">
					<option value="@{shields_mod}">Shields</option>
					<option value="@{dueling_mod}">Dueling</option>
					<option value="@{wrestling_mod}">Wrestling</option>
					<option value="@{boxing_mod}">Boxing</option>
					<option value="@{string_mod}">String</option>
					<option value="@{throwing_mod}">Throwing</option>
					<option value="@{general_mod}">General</option>
					<option value="@{heavy_mod}">Heavy</option>
					<option value="@{sniper_mod}">Sniper</option>
					<option value="@{handgun_mod}">Handgun</option>
					<option value="@{shotgun_mod}">Shotgun</option>
					</select>
					<input type="number" disabled="true" class="largenumber" name="attr_pri_mod" value="@{pri_type}+@{pri_misc}" readonly />
				</th>
				<th scope="col" width="120px"><input type="text" class="sheet-BigGear" name="attr_pri_name" value="" style='width: 110px;'/></th>
				<th scope="col" width="40px"><input type="number" style="width: 30px" name="attr_pri_misc" value="0"/><br>
				<button type='roll' value='@{pri_macro}' name='roll_pri'></button>
				</th>
				<th scope="col" width="50px"><input type="number" name="attr_+pri_mag_max" value="0"/></th>
				<th scope="col" width="50px"><input type="number" name="attr_+pri_mag" value="0" readonly/></th>
				<th scope="col" width="80px"><select class="gun-select" name="attr_pri_cal" style="width: 70px">
					<option value="ammo_handgun">Handgun</option>
					<option value="ammo_handgunbig">Big Handgun</option>
					<option value="ammo_rifle">Rifle</option>
					<option value="ammo_shotgun">Shotgun</option>
					<option value="ammo_sniper">Sniper</option>
					<option value="other">Other</option>
				</select></th>
				<th scope="col" width="40px"><input type="number" name="attr_pri_weight" value="0" style="width: 30px"/></th>
				<th scope="col" width="34px"><input type="checkbox" name="attr_pri_suppressor" value='1'></th>
				<th scope="col" width="34px"><input type="checkbox" name="attr_pri_automatic" value='4'></th>
				<th scope="col" width="140px"><textarea name="attr_pri_notes" value="note" style='vertical-align: text-top; width: 130px; height: 42px'>Notes</textarea></th>
			</tr>
			<tr>
				<th colspan=2 scope="col"><textarea name="attr_pri_macro" value="note" style='vertical-align: text-top; width: 200px; height: 32px'></textarea></th>
				<th colspan=3 scope="col"><textarea name="attr_pri_macro2" value="note" style='vertical-align: text-top; width: 145px; height: 32px'></textarea></th>
				<th colspan=3 scope="col"><textarea name="attr_pri_macro3" value="note" style='vertical-align: text-top; width: 160px; height: 32px'></textarea></th>
				<th colspan=2 scope="col"><textarea name="attr_pri_macro4" value="note" style='vertical-align: text-top; width: 170px; height: 32px'></textarea></th>
			</tr>
		</table>
	</div>
		
		
	<div class="sheet-section-secondary">
		<table width="500" border="1" style="margin:1em auto; table-layout: fixed">
			<tr>
			<th scope="col" width="80px">
					<select class="gun-select" name="attr_sec_type" style="width: 70px">
					<option value="@{shields_mod}">Shields</option>
					<option value="@{dueling_mod}">Dueling</option>
					<option value="@{wrestling_mod}">Wrestling</option>
					<option value="@{boxing_mod}">Boxing</option>
					<option value="@{string_mod}">String</option>
					<option value="@{throwing_mod}">Throwing</option>
					<option value="@{general_mod}">General</option>
					<option value="@{heavy_mod}">Heavy</option>
					<option value="@{sniper_mod}">Sniper</option>
					<option value="@{handgun_mod}">Handgun</option>
					<option value="@{shotgun_mod}">Shotgun</option>
					</select>
					<input type="number" disabled="true" class="largenumber" name="attr_sec_mod" value="@{sec_type}+@{sec_misc}" readonly />
				</th>
			<th scope="col" width="120px"><input type="text" class="sheet-BigGear" name="attr_sec_name" value="" style='width: 110px;'/></th>
			<th scope="col" width="40px"><input type="number" style="width: 30px" name="attr_sec_misc" value="0"/><br>
				<button type='roll' value='@{sec_macro}' name='roll_sec'></button></th>
			<th scope="col" width="50px"><input type="number" name="attr_+sec_mag_max" value="0"/></th>
			<th scope="col" width="50px"><input type="number" name="attr_+sec_mag" value="0" readonly/></th>
			<th scope="col" width="80px"><select class="gun-select" name="attr_sec_cal" style="width: 70px">
					<option value="ammo_handgun">Handgun</option>
					<option value="ammo_handgunbig">Big Handgun</option>
					<option value="ammo_rifle">Rifle</option>
					<option value="ammo_shotgun">Shotgun</option>
					<option value="ammo_sniper">Sniper</option>
					<option value="other">Other</option>
				</select></th>
			<th scope="col" width="40px"><input type="number" name="attr_sec_weight" value="0" style="width: 30px"/></th>
			<th scope="col" width="34px"><input type="checkbox" name="attr_sec_suppressor" value='1'></th>
			<th scope="col" width="34px"><input type="checkbox" name="attr_sec_automatic" value='4'></th>
			<th scope="col" width="140px"><textarea name="attr_sec_notes" value="note" style='vertical-align: text-top; width: 130px; height: 42px'>Notes</textarea></th>
			</tr>
			<tr>
				<th colspan=2 scope="col"><textarea name="attr_sec_macro" value="note" style='vertical-align: text-top; width: 200px; height: 32px'></textarea></th>
				<th colspan=3 scope="col"><textarea name="attr_sec_macro2" value="note" style='vertical-align: text-top; width: 145px; height: 32px'></textarea></th>
				<th colspan=3 scope="col"><textarea name="attr_sec_macro3" value="note" style='vertical-align: text-top; width: 160px; height: 32px'></textarea></th>
				<th colspan=2 scope="col"><textarea name="attr_sec_macro4" value="note" style='vertical-align: text-top; width: 170px; height: 32px'></textarea></th>
			</tr>
		</table>
	</div>

<div style="align-content: center; vertical-align: middle">
	Indoors? <input type="checkbox" name="attr_indoor" style="width: 16px;
    height: 16px;" value='1'>
</div>
		
<table width="330" border="1" style="margin:1em auto; table-layout: fixed">
  <tbody>
    <tr>
      <th width="60px">Type&nbsp;</td>
	  <th scope="col" width="64px">Handgun&nbsp;</th>
      <th scope="col" width="80px">Hand Cannon&nbsp;</th>
      <th scope="col" width="64px">Rifle&nbsp;</th>
      <th scope="col" width="64px">Heavy Rifle&nbsp;</th>
      <th scope="col" width="64px">Anti Tank Rifle&nbsp;</th>
      <th scope="col" width="64px">Grenade Launcher&nbsp;</th>
      <th scope="col" width="64px">Rocket Launcher&nbsp;</th>
    </tr>
	<tr>
	  <td>Count&nbsp;</td>
      <td><input type="number" name="" value="0" style="width: 42px"/>&nbsp;</td>
      <td><input type="number" name="" value="0" style="width: 42px"/>&nbsp;</td>
      <td><input type="number" name="" value="0" style="width: 42px"/>&nbsp;</td>
      <td><input type="number" name="" value="0" style="width: 42px"/>&nbsp;</td>
      <td><input type="number" name="" value="0" style="width: 42px"/>&nbsp;</td>
      <td><input type="number" name="" value="0" style="width: 42px"/>&nbsp;</td>
      <td><input type="number" name="" value="0" style="width: 42px"/>&nbsp;</td>
    </tr>
  </tbody>
</table>

	<hr>
	3 Weapons tab - sheet-section-weapons
	</div>
	
	<div class="sheet-section-health"><!-- gear Tab -->
		<!-- Stuff on the tab -->
		<h1>Damage</h1><br>
		4 Health tab - sheet-section-health
	</div>
	
	<div class="sheet-section-inventory"><!-- arcanum Tab -->
		<!-- Stuff on the tab -->
		<h1>Inventory</h1>

		5 Inventory tab - sheet-section-inventory
	</div>
	
	<div class="sheet-section-other"><!-- Journal Tab -->
		<!-- Stuff on the tab -->
		<h1>Configuration (GM ONLY)</h1>
		
		SFX Overrides
		
		
		6 Other tab - sheet-section-other
	</div>
	<div class="sheet-section-notes">
		<h1>Notebook</h1>
		
		<input type="radio" class="sheet-notes sheet-notes1" name="attr_notes-tab" value="1" title="PAGE 1" checked="checked"/> 
		<span class="sheet-notes sheet-notes1" style='line-height: 40px;'>PAGE 1</span>
	
		<input type="radio" class="sheet-notes sheet-notes2" name="attr_notes-tab" value="2" title="PAGE 2" /> 
		<span class="sheet-notes sheet-notes2" style='line-height: 40px;'>PAGE 2</span>
	
		<input type="radio" class="sheet-notes sheet-notes3" name="attr_notes-tab" value="3" title="PAGE 3" /> 
		<span class="sheet-notes sheet-notes3" style='line-height: 40px;'>PAGE 3</span>
		
		<input type="radio" class="sheet-notes sheet-notes4" name="attr_notes-tab" value="4" title="PAGE 4" /> 
		<span class="sheet-notes sheet-notes4" style='line-height: 40px;'>PAGE 4</span>
		
		<input type="radio" class="sheet-notes sheet-notes5" name="attr_notes-tab" value="5" title="PAGE 5" /> 
		<span class="sheet-notes sheet-notes5" style='line-height: 40px;'>PAGE 5</span>
		
		<input type="radio" class="sheet-notes sheet-notes6" name="attr_notes-tab" value="6" title="PAGE 6" /> 
		<span class="sheet-notes sheet-notes6" style='line-height: 40px;'>PAGE 6</span>
		
		<input type="radio" class="sheet-notes sheet-notes7" name="attr_notes-tab" value="7" title="PAGE 7" />
		<span class="sheet-notes sheet-notes7" style='line-height: 40px;'>PAGE 7</span>
		
		<input type="radio" class="sheet-notes sheet-notes8" name="attr_notes-tab" value="8" title="PAGE 8" />
		<span class="sheet-notes sheet-notes8" style='line-height: 40px;'>PAGE 8</span>
		
		<input type="radio" class="sheet-notes sheet-notes9" name="attr_notes-tab" value="9" title="PAGE 9" />
		<span class="sheet-notes sheet-notes9" style='line-height: 40px;'>PAGE 9</span>
		
		<input type="radio" class="sheet-notes sheet-notes10" name="attr_notes-tab" value="10" title="PAGE 10" />
		<span class="sheet-notes sheet-notes10" style='line-height: 40px;'>PAGE 10</span>
		
		<div class="sheet-section-notes1">
		</div>
		
		<div class="sheet-section-notes2">
		</div>
		
		<div class="sheet-section-notes3">
		</div>
		
		<div class="sheet-section-notes4">
		</div>
		
		<div class="sheet-section-notes5">
		</div>
		
		<div class="sheet-section-notes6">
		</div>
		
		<div class="sheet-section-notes7">
		</div>
		
		<div class="sheet-section-notes8">
		</div>
		
		<div class="sheet-section-notes9">
		</div>
		
		<div class="sheet-section-notes10">
		</div>
		
		<BR>7 Notes tab - sheet-section-notes
	</div>
</div>

<script type="text/worker">

</script>