/*----------- Tabs Setup -------------*/

/*this hides the contents of each tab by default*/
.charsheet div[class^="sheet-section"] { 	
	display: none;
}

/*this shows the tab content when the appropriate input field is selected*/
.charsheet input.sheet-tab1:checked ~ div.sheet-section-core,
.charsheet input.sheet-tab2:checked ~ div.sheet-section-abilities,
.charsheet input.sheet-tab3:checked ~ div.sheet-section-weapons,
.charsheet input.sheet-tab4:checked ~ div.sheet-section-health,
.charsheet input.sheet-tab5:checked ~ div.sheet-section-inventory,
.charsheet input.sheet-tab6:checked ~ div.sheet-section-other {
	display: block;
}

.charsheet input.sheet-tab99:checked ~ div[class^="sheet-section"] { 	
	display: block;
}

.charsheet input.sheet-weapon1:checked ~ div.sheet-section-primary,
.charsheet input.sheet-weapon2:checked ~ div.sheet-section-secondary,
.charsheet input.sheet-weapon3:checked ~ div.sheet-section-special,
.charsheet input.sheet-weapon4:checked ~ div.sheet-section-weapon4,
.charsheet input.sheet-weapon5:checked ~ div.sheet-section-weapon5,
.charsheet input.sheet-weapon6:checked ~ div.sheet-section-weapon6 {
	display: block;
}
.charsheet input.sheet-weapon99:checked ~ div[class^="sheet-section"] { 	
	display: block;
}
/*this hides the radio button for each tab, makes it 100px wide and 40px tall and makes sure it's above everything else*/
.charsheet input.sheet-tab {
    	width: 100px;
    	height: 40px;
    	cursor: pointer;	
	position: relative;
	opacity: 0;
	z-index: 9999;
}

/*this styles the span with the tab information and slides to the left, so it appears underneath the radio button*/
.charsheet span.sheet-tab {
	text-align: center;
    	display: inline-block;
	font-size: 13px;	
	background: #c7c3b0;
	color: black;
	font-weight: bold;
	border-radius: 4px;
	
	width: 100px;
    	height: 40px;
    	cursor: pointer;	
	position: relative;
	vertical-align: middle;
	margin-left: -101px;/*originally 91px*/
}

/*this modifies the span color once the radio button is selected so you know which tab is selected*/
.charsheet input.sheet-tab1:checked + span.sheet-tab1,
.charsheet input.sheet-tab2:checked + span.sheet-tab2,
.charsheet input.sheet-tab3:checked + span.sheet-tab3,
.charsheet input.sheet-tab4:checked + span.sheet-tab4,
.charsheet input.sheet-tab5:checked + span.sheet-tab5,
.charsheet input.sheet-tab6:checked + span.sheet-tab6,
.charsheet input.sheet-tab7:checked + span.sheet-tab7,
.charsheet input.sheet-tab8:checked + span.sheet-tab8,
.charsheet input.sheet-tab99:checked + span.sheet-tab99 {
    
    	background: #2c424e;
    	color: #bfc4c6;
	border-radius: 4px;
}

.charsheet input.sheet-weapon1:checked + span.sheet-weapon1,
.charsheet input.sheet-weapon2:checked + span.sheet-weapon2,
.charsheet input.sheet-weapon3:checked + span.sheet-weapon3,
.charsheet input.sheet-weapon4:checked + span.sheet-weapon4,
.charsheet input.sheet-weapon5:checked + span.sheet-weapon5,
.charsheet input.sheet-weapon6:checked + span.sheet-weapon6,
.charsheet input.sheet-weapon7:checked + span.sheet-weapon7,
.charsheet input.sheet-weapon8:checked + span.sheet-weapon8,
.charsheet input.sheet-weapon99:checked + span.sheet-weapon99 {
    
    	background: #2c424e;
    	color: #bfc4c6;
	border-radius: 4px;
}
/*----------- End Tab Setup -----------*/


/*this hides the radio button for each tab, makes it 100px wide and 40px tall and makes sure it's above everything else*/
.charsheet input.sheet-bool {
    	width: 100px;
    	height: 40px;
    	cursor: pointer;	
	position: relative;
	opacity: 0;
	z-index: 9999;
}

/*this styles the span with the tab information and slides to the left, so it appears underneath the radio button*/
.charsheet span.sheet-bool {
	text-align: center;
    	display: inline-block;
	font-size: 13px;	
	background: #c7c3b0;
	color: black;
	font-weight: bold;
	border-radius: 4px;
	
	width: 100px;
    	height: 40px;
    	cursor: pointer;	
	position: relative;
	vertical-align: middle;
	margin-left: -101px;/*originally 91px*/
}
/*----------- End Tab Setup -----------*/

div{
	background-color: #2A2A2A;
	color: white;
	border-radius: 1em;
	margin: 2px;
}

img {
    text-align: center;
}

input[type=number] {
    width: 35px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.sheet-select {
    width: 80px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}


.gun-select {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input[type=checkbox] {  
    width: 26px;
    height: 26px;
    position: relative;
    top: 0px;
    left: 0px;
    margin: -2px;
    cursor: pointer;
    z-index: 1;
}

.sheet-col {
    float: left;
    width: 50%;
}

.repeating_damage {
	margin: 0px;
	padding: 0;
	
}

.repeating_inventory{
	margin: 0px;
	padding: 0;
}

.repeating_other{
}

.compendium-drop-target {
	margin: 6px;
	border: thin;
	border-color: black;
	border-style: solid
}

.border {
	border-style: solid;
	border-width: medium;
	border-color: dimgray;
}

.item-border {
	border-style: dashed;
	border-width: medium;
	border-color: black;
	border-left-style: none;
	border-right-style: none;
}

/* Clear floats after the columns */
.sheet-2colrow:after {
    content: "";
    display: table;
    clear: both;
}

h5 {
    text-shadow: 0px 0px 10px black;
    color:white;
}

th {
    text-shadow: 0px 0px 10px black;
    color:white;
}

td{
	color: white;
}

h4 {
    text-shadow: 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white;
    color:white;
}

h3 {
    text-shadow: 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black ;
    color:whitesmoke;
}

h2 {
    background: black;
    color:white;
}

h1 {
    background: black;
    color:white;
}

.sheet-saving-throw-container .sheet-label span,
.sheet-skills-container .sheet-label span,
.sheet-textbox-container .sheet-label span,
.sheet-ac-init-speed-container span.sheet-label,
.sheet-hp span,
.sheet-hdice-dsaves-container span,
.sheet-attacks span,
.sheet-equipment span,
.sheet-textbox span,
.sheet-tool_proficiencies span,
.sheet-proficiencies span,
.sheet-traits span,
.sheet-spells span,
.sheet-options .sheet-body span,
.sheet-globalattack span
{
    display: block;
    font-size: 9px;
    line-height: 12px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}
.sheet-textbox-container,
.sheet-tool_proficiencies
{
    border: 1px solid #666;
    border-radius: 5px;
    width: 243px;
}

.sheet-tool_proficiencies,
.sheet-attacks
{
    padding-bottom: 10px;
}
.sheet-hp .sheet-top span,
.sheet-hdice-dsaves-container .sheet-top span,
.sheet-attacks .sheet-top span,
.sheet-tool_proficiencies .sheet-top span,
.sheet-proficiencies .sheet-top span,
.sheet-traits .sheet-top span
{
    text-align: left;
    margin-left: 5px;
    color: #A0A0A0;
    font-weight: normal;
    display: inline-block;
    width: initial;
}